/* Colours */

.red-bg-color {
  background-color: #d30010;
}

.yellow-bg-color {
  background-color: #ffbe0b;
}

.light-blue-bg-color {
  background-color: #048BA8;
}

.white-bg-color {
  background-color: #ffffff;
}

/* Fonts */

.main-heading {
  font-family: Bangers;
}

.sub-headings {
  font-family: Boogaloo;
}

.other-text {
  font-family: Quicksand;
}

/* Background Image */

body {
  background-color: #fff;
  background-image: url("/assets/images/background-image.webp");
  background-size: cover; 
}

/* Heading */

.header {
  width: 50%;
  height: 200px;
  border: 15px solid #000000;
  margin-left: 25%;
}

h1 {
  color: #d30010;
  font-size: 6rem;
  text-align: center;
  margin: 0;
}

.tag-line {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

/* Score Board */

.score-box {
  border: 14px solid #000000;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.score-item {
  border: 1px solid #000000;
  font-size: 2rem;
  padding-left: 5px;
}

/* Game Grid */

.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background-color: #000000;
  border: 15px solid #000000;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
}

.grid-item  {
  width: 100%;
  height: 150px;
  background-image: url(/assets/images/game-cover-image.webp);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Shake animation learned from freeCodeCamp (Learn CSS Animation by Building a Ferris Wheel Module) */
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Instructions Box */

.instructions-container {
  width: 50%;
  border: 15px solid #000000;
  margin-left: 25%;
  margin-top: 20px;
  padding: 5px;
}