/* Colours */

.red-bg-color {
  background-color: #d30010;
}

.yellow-bg-color {
  background-color: #ffbe0b;
}

.light-blue-bg-color {
  background-color: #048BA8;
}

.white-bg-color {
  background-color: #ffffff;
}

/* Fonts */

.main-heading {
  font-family: Bangers;
}

.sub-headings {
  font-family: Boogaloo;
}

.other-text {
  font-family: Quicksand;
}

/* Background Image */

body {
  background-image: url("/assets/images/background-image.webp");
  background-size: cover; 
}

/* Main Container */

.container {
  width: 50%;
  margin: 0 auto;
}

/* Heading */

.header {
  height: fit-content;
  border: 10px solid #000000;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  color: #d30010;
  font-size: 6rem;
  text-align: center;
  margin: 0;
}

.tag-line {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

/* Score Board */

.score-box {
  width: 100%;
  border: 9px solid #000000;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
}

.score-item {
  border: 1px solid #000000;
  font-size: 2rem;
  padding-left: 5px;
}

/* Game Grid */

.grid-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #000000;
  border: 10px solid #000000;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-item  {
  width: 100%;
  height: 200px;
  background-image: url(/assets/images/game-cover-image.webp);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

/* Shake animation learned from freeCodeCamp (Learn CSS Animation by Building a Ferris Wheel Module) */
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Instructions Box */

.instructions-container {
  width: 100%;
  border: 10px solid #000000;
  margin: 20px auto;
  padding: 2px;
  box-sizing: border-box;
}

/* Responsiveness */

@media screen and (min-width: 2000px) {
  .grid-item {
    height: 250px;
  }
}

@media screen and (max-width: 2000px) {
  .grid-item {
    height: 200px;
  }
}

@media screen and (max-width: 1600px) {
  .grid-item {
    height: 175px;
  }
}

@media screen and (max-width: 1400px ) {
  .grid-item {
    height: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 60%;
  }

  .grid-item {
    height: 125px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 4rem;
  }

  .tag-line {
    font-size: 2rem;
  }

  .score-item {
    font-size: 1rem;
  }

  .grid-item {
    height: 80px;
  }
}

@media screen and (max-width: 270px) {
  h1 {
    font-size: 2rem;
  }

  .tag-line {
    font-size: 1rem;
  }
}